<div class="alert success">
  <span class="closebtn">&times;</span>
  <strong><%= notice %></strong>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Players: </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @game.players%></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="center">
  <%= button_to "start bowling", game_frames_path(@game.id), :method => "get" %>
</div>
<script>
var close = document.getElementsByClassName("closebtn");
var i;
for (i = 0; i < close.length; i++) {
close[i].onclick = function(){
var div = this.parentElement;
div.style.opacity = "0";
setTimeout(function(){ div.style.display = "none"; }, 600);
}
}
</script>