
<h1>Players</h1>
<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Player Name</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <%= button_to "New Player", new_player_path  , :method => "get" %>
</div>
<div>
  <%= button_to "Games Dashboard", games_path  , :method => "get" %>
</div>